@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Oleo+Script:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: absolute;
    background-color: rgba(223,218,218);
    height: 100vh;
    /* background-color: red; */
    /* width: 434px; */
    font-family: "Abril Fatface", serif;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;

}
.sidebar nav li{
    list-style: none;
    font-size: 30px ;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
    padding: 23px;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: aqua; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    font-size: 16px;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    font-family: "Great Vibes", cursive;
}

.devPic img{
     height: 68vh;
   
}

.hello{
    font-size: 2em;
    font-family: "Great Vibes", cursive;
}

.name{
    font-size: 2em;
    font-weight: bold;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 7px;
}

.about{
    font-size: 2em;
}
.moreabout{
    font-size: 2em;
    font-family: "Great Vibes", cursive;
    margin-top: 25px;
}

.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}

.btn {
    
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgba(27, 27, 27, 0.776);
    font-weight: bold;
    font-size: 21px;
    margin: 23px 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover{
    background-color: white;
    color: rgba(27, 27, 27, 0.776);
}

.contactform{
    padding: 0 34px;
    /* padding-top: 100px; */
    font-family: "Great Vibes", cursive;
    margin:88px;
}

.contactform h1{
     font-family: "Abril Fatface", serif;
     /* padding: 12px; */
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

.contactform form{
    margin: 0 40px;
    font-size:30px ;
}

#emailHelp{
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

.blogItem{
    margin: 20px;
    font-family: "Great Vibes", cursive;
   
}
.blogContainer{
    margin:88px;
    font-size: 30px;
}

h1{
    font-family: "Abril Fatface", serif;
    /* font-family: "Great Vibes", cursive; */
    font-size: 40px;
    margin: 23px;
    

}

p{
   font-family: "Great Vibes", cursive;
  
}

.intro{
     margin:88px;
}

.intro h2{
    font-family: "Abril Fatface", serif;
    margin: 12px;
}
.intro p{
   font-family: "Great Vibes", cursive;
   font-weight: 500;
   font-size: 40px;
    margin: 12px;
}


.skillContainer{
    margin: 12px;
    font-size: 40px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-weight: 900;
    font-size: 30px;
    margin-top: 10px;
}

.skill{
    width: 300px;
    height: 6px;
    background-color: red;
}

.seventy{
    width: 250px;
    background-color: red;
    border: 2px solid black;
}

.eighty{
    width: 260px;
    background-color: yellow;
    border: 2px solid black;
}
.ninty{
    width: 280px;
    background-color: purple;
    border: 2px solid black;
}
.hundred{
    width: 300px;
    background-color: blue;
    border: 2px solid black;
}

.sidebarGo{
            transform: translate(-443px,0);
            position: absolute;
}

.Hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-left: 205px;
}

.ham{
    margin-top: 10px;
    margin-left: 10px;
}

@media (max-width: 800px){

    .buttons{
        font-size: 6px;
    }

    .devInfo{
        font-size: 10px;
    }
  
   .intro, .blogContainer, .contactform{
    margin:50px 8px;
   }

    .devPic{
        display: none;
    }
}

.blogs{
   
    margin:88px;
    font-size: 30px;

}